openapi: 3.1.0
info:
  title: WhoAPI Domain Intelligence API
  version: '1.0'
  description: >-
    WhoAPI exposes WHOIS, domain availability, domain age, domain score, SSL
    certificate, email score, IP/domain blacklist, and website screenshot data
    through a single HTTP GET endpoint. The task is selected with the `r`
    parameter and authenticated with an `apikey` query parameter. Responses are
    gzip-compressed JSON carrying a numeric `status` and a `status_desc`.

    This specification was generated by the API Evangelist enrichment pipeline
    from WhoAPI's published documentation (https://whoapi.com/api-documentation/)
    — it faithfully captures the documented request contract; response schemas
    are modeled at the envelope level only, not fabricated per task.
  contact:
    name: WhoAPI Support
    url: https://whoapi.com/api-documentation/
  x-apievangelist-generated: true
  x-apievangelist-source: https://whoapi.com/api-documentation/
servers:
- url: https://api.whoapi.com
  description: Production
security:
- apiKey: []
paths:
  /:
    get:
      operationId: queryWhoAPI
      summary: Query a WhoAPI domain-intelligence task
      description: >-
        Runs one of the WhoAPI tasks selected by the `r` parameter against a
        domain, email, IP, or full URL and returns the JSON result. Supported
        tasks: whois, taken, cert, domainscore, domainscore-check, emailscore,
        emailscore-check, blacklist, screenshot.
      tags:
      - Domain Intelligence
      parameters:
      - name: r
        in: query
        required: true
        description: The task to run.
        schema:
          type: string
          enum:
          - whois
          - taken
          - cert
          - domainscore
          - domainscore-check
          - emailscore
          - emailscore-check
          - blacklist
          - screenshot
      - name: apikey
        in: query
        required: true
        description: Your private WhoAPI API key.
        schema:
          type: string
      - name: domain
        in: query
        required: false
        description: >-
          Fully-qualified domain name including TLD (e.g. whoapi.com). Required
          for whois, taken, cert, domainscore, blacklist.
        schema:
          type: string
      - name: email
        in: query
        required: false
        description: Email address to score. Required for emailscore/emailscore-check.
        schema:
          type: string
          format: email
      - name: ip
        in: query
        required: false
        description: IP address. Used by the blacklist task.
        schema:
          type: string
      - name: fullurl
        in: query
        required: false
        description: Fully-qualified URL. Used by the screenshot task.
        schema:
          type: string
      responses:
        '200':
          description: >-
            Result payload. Always includes `status` and `status_desc`; a
            non-zero `status` indicates an application-level error (see the
            WhoAPI status-code catalog).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apikey
      description: WhoAPI private API key passed as the `apikey` query parameter.
  schemas:
    Response:
      type: object
      required:
      - status
      properties:
        status:
          type: integer
          description: Numeric status code (0 = success; 1-42 = documented errors).
          example: 0
        status_desc:
          type: string
          description: Plain-English description of the status.
          example: Request successful!
      additionalProperties: true
